/* ======================================================= */
/* File    : comment.css                                   */
/* Content : Default CSS for Proteus (comment)             */
/* Author  : Amador Durán Toro                             */
/* Date    : 2026/09/14                                    */
/* Version : 2.0                                           */
/* ======================================================= */

.comment {
  /*font-style:  italic;*/
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
  background-color: lightyellow;
  border: goldenrod solid;
  border-width: 1px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACCUlEQVR4nO2XvU/bQBjGn7Njhw6J6NChDP1Qhw5doiQDW4PUplNFO5YpXejYgT+A8B+wwgIssIKYCAMZkUhQFhYkJFhgQCLhQwLs+I73zmDFMR8RwvaSnxTdm1eJn+fe92zfaYiZRHfCXs8XBOejnLEMXhjG0KLPsvmtvuDlOn9wXcnNAaKEkBHAvgb9t1ncangGrEpuWkD8R3S0TCP9UVeONoY/ONxZQrQMONx6q8nIsqwSYkGMJhAvgxpipm+gZwPsTQHsdc6fTKTcfOqzPz8wpPJyfIqeFqH+pQx96KeKncNVODtlJW4ML4K9ckXsxgTEcZVM5mHkZ1RO2OewN8eAq8MHr91TBe7EO2M56ztxlX8/5l6wo0rMSPn++2wD4vLIi/n57m3OPytxUnfHrtnyZh2P0VML7No49E/jKnb2Zt0kCdm1f9Df/VEinFqjBGls06jRGpDtEs3ao9dW74LrtWyZoknEQP850DfgGtBZA3Eg2Iq3I7qqZKv05SsiRGPaiNeCpJH+RXu1A0QETfav8b1W9QywkWqLTGRoxzgVqhEqu5y5WdyevzUSxKpkS2Rizp9lC8livYQX5oG7oOtMQFUJQ1xy77tAdCxG2Svzh1uuMAi0QGwUBi37rOmJF8MTlwRa0G5fyPKfRiEuCbTAAc/Qsakgj02IgICBZCI9L29JRARDzNwAJ8qfMS9ozuMAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: left 4px top 4px;
  min-height: 2em;
  padding-left: 42px;
}