/* ======================================================= */
/* File    : figure.css                                    */
/* Content : Default CSS for Proteus (figures)             */
/* Author  : Amador Durán Toro                             */
/* Date    : 2026/09/12                                    */
/* Version : 2.0                                           */
/* ======================================================= */

div.figure {
  text-align: center;
}

img.figure_image {}

p.figure_caption {
  margin-top: 4px;
}

span.figure_caption_label {
  font-weight: bold;
}
