/* ======================================================= */
/* File    : cover.css                                     */
/* Content : Default CSS for Proteus (cover)               */
/* Author  : Amador Durán Toro                             */
/* Date    : 2026/09/11                                    */
/* Version : 2.0                                           */
/* ======================================================= */

div#document_cover {
  text-align: center;
}

div#project_name,
div#document_version,
div#document_date {
  font-weight: bold;
  font-size: large;
}

div#project_name {
  margin-bottom: 50pt;
}

div#document_logo {
  margin-bottom: 20pt;
}

div#document_name {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 20pt;
}

div#document_version {
  margin-bottom: 20pt;
}

div#document_date {
  margin-bottom: 50pt;
}

div#document_prepared_by {
  margin-bottom: 100pt;
}
