/* ======================================================= */
/* File    : default.css                                   */
/* Content : Default CSS for Proteus                       */
/* Author  : Amador Durán Toro                             */
/* Date    : 2026/09/23                                    */
/* Version : 2.1                                           */
/* ======================================================= */

@import url('printing.css');
@import url('cover.css');
@import url('toc.css');
@import url('proteus_table.css');

/* 00_general */
@import url('comment.css');
@import url('glossary_item.css');
@import url('bibliography_item.css');
@import url('figure.css');
@import url('symbolic_link.css');
@import url('stakeholder.css');
@import url('organization.css');
@import url('meeting.css');

/* 01_business_analysis */
@import url('business_actor.css');
@import url('business_objective.css');
@import url('business_process.css');
@import url('strength.css');
@import url('weakness.css');
@import url('user_story.css');

/* 02_requirements */
@import url('business_rule.css');
@import url('functional_requirement.css');
@import url('general_requirement.css');
@import url('information_requirement.css');
@import url('nonfunctional_requirement.css');
@import url('specific_data.css');
@import url('subsystem.css');
@import url('system_actor.css');
@import url('use_case.css');
@import url('use_case_diagram.css');
@import url('use_case_step.css');

/* 03_conceptual_modeling */
@import url('association.css');
@import url('attribute.css');
@import url('constraint.css');
@import url('entity_class.css');
@import url('enum_value.css');
@import url('enumeration.css');
@import url('mockup.css');
@import url('parameter.css');
@import url('role.css');
@import url('system_operation.css');

/* 04_req_management */
@import url('change_request.css');
@import url('conflict.css');
@import url('defect.css');
@import url('traceability_matrix.css');

/* general styles */

body {
  font-family: calibri, helvetica, cambria, verdana, arial;
  font-size: 12pt;
  text-align: justify;
}

body>div {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

span.tbd {
  color: red;
  font-weight: bold;
}
